*.o
*.obj
*.so
*.dylib
*.dll

*.so
*.dylib
*.dll

*.a
*.lib

*.exe
*.out
*.app

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


moc_*.cpp
moc_*.h
*.moc

ui_*.h

*_autogen/

.qt/

.vscode/


build/
Build/
DEBUG/
RELEASE/

.DS_Store


._*

*.log



